.off_screen_menu{
  background-color: rgb(255, 255, 255, 0.1);
  height: 100vh;
  width: 100%;
  max-width: 330px;
  position: fixed;
  top: 0;
  right: -330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
}

li {
  list-style: none;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: Sansation;
  
}

.off_screen_menu.active{
  left: 0;
  background-color: rgb(255, 255, 255, 0.01);
}


  
.hamburger {
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

  body{
    background-image: url(images/background.png);
  }

  .logo_image{
    width: 800px;
    margin-bottom: 0px;
    border-bottom: 10px;
  }

  .logo{
    text-align: center;
    margin-bottom: 0px;
    border-bottom: 10px;
    margin-bottom: -40px;
  }

  .intro{
    text-align: center;
  }

  .intro_par{
    font-family: Sansation;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: Sansation;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: rgb(255, 255, 255, 0.3);
  display: none;
  overflow: hidden;
  border-radius: 25px;
} 

.panel {
  padding: 0 18px;
  background-color: rgb(255, 255, 255, 0.3)
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /
}

.container{
  text-align: center;
  width: 35%;
  padding-left: 33%;
}

.panel_font{
  font-size: 18px;
  font-family: Sansation;
}







